.bg-img {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/programming.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
}

